<!-- <% provide(:title, "Home") %> -->
<div class="center">
  <div class="wrapper">
    <%= link_to image_tag("kboy.jpg", alt: "KBOY"), 'https://twitter.com/FernandezKboy' %>
  </div>
</div>
<br>
<div class="center jumbotron">
  <h2><a href="https://about.me/k-boy">Kirby's</a> brief introduction.</h2>
  <h3>I am part of <a href="https://operationcode.org/">Operation Code</a> founded by an ex-Army Captain.</h3>
  <%= link_to image_tag("opcode.png", alt: "KBOY"), 'https://operationcode.org/' %>
  <p>I usually hangout on <a href="https://github.com/kboygit">Github</a> and <a href="https://operationcode.org/">Operation Code Slack</a>.</p>
  <p>page is under construction...</p>
<iframe src="//giphy.com/embed/asGdT7GTpANb2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/please-construction-patient-asGdT7GTpANb2"></a></p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("tatami.png", alt: "KBOY"),
            'http://rapollorap.herokuapp.com/' %>
<!-- <%= link_to image_tag("", alt: "KBOY"),
            'http://rapollorap.herokuapp.com/' %> -->

</div>
